:host {
    .search-container {
        input {
            width: 600px;
            height: 56px;
            margin: 10px 0;
            padding-left: 15px;
            border-radius: 15px;
            border: 0px;
        }
    }
}